{% extends 'base.html.twig' %}

{% block body %}
    <div class="row g-4">
        {% include 'movie/card.html.twig' %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('movie-card') }}
{% endblock %}