<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">We Movies</a>
        <form class="d-flex" role="search">
            <input id="autoComplete" class="form-control me-2 movie-search-autocomplete" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" maxlength="2048" tabindex="1" />
        </form>
    </div>
</nav>